.heading5 {
  color: var(--Cod-Gray, #1b1b1b);

  /* 1920px/Heading 5 */
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 135.714% */
  letter-spacing: -1.5px;
}
