.heading3 {
  color: var(--Cod-Gray, #1b1b1b);
  /* 1920px/Heading 3 */
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 118.182% */
  letter-spacing: -2.5px;
}
