.heading6 {
  color: var(--Cod-Gray, #1b1b1b);

  /* 1920px/Heading 6 */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
  letter-spacing: -1px;
}
